<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-message">
    <h1>Registro App de Asistencia!</h1>
    <p>Registra y administra la asistencia de estudiantes de manera eficiente.</p>
    <ion-icon name="calendar"></ion-icon>
  </div>

  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input placeholder="usuario@empresa.com" formControlName="nombre" type="text" required=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input placeholder="Ingrese contrasena" formControlName="contrasena" type="password" required=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input placeholder="Ingrese contrasena" formControlName="confirmar_contrasena" type="password" required=""></ion-input>
    </ion-item>

    <ion-button expand="full" color="secondary" class="login-button" (click)="registrar()" >Registrarse</ion-button>
  </form>


</ion-content>